@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

:root {
    --font-family: "Pixelify Sans", sans-serif;

    --font-size: 20px;

    --bg-black: #0c0c0c;

    --dark-gray: #767676;
    --bg-gray: #c6c6c6;
    --off-gray: #ECECEC;

    --muted: #ffffffcc;
}