<section id="session-background">
    <article id="container-interface-login" class="interface-window">
        <article id="titlebar-login" class="interface-title-bar">
            <h1>Bem-Vindo!</h1>
        </article>
        <article id="content-login">
            <div class="container-content-login">
                <img src="./assets/Img_Login.png" alt="Minha foto de perfil" id="img-login" class="interface-window">
            </div>
            <div class="container-content-login">
                <form id="form-login">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" class="interface-input" value="GuilhermeFdS">
    
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" class="interface-input">
    
                    <button id="session-btn-login" class="interface-button" type="button">Entrar</button>
                </form>
            </div>
        </article>
    </article>
</section>