<section class="interface-window interface-draggable dialog no-select" role="dialog">
  <article class="interface-title-bar">
    <p class="dialog-title"></p>
    <article>
      <button class="dialog-close interface-button interface-close-button">
        <p>X</p>
      </button>
    </article>
  </article>

  <article class="interface-main-content dialog-main-container">
    <p class="dialog-icon">X</p>
    <p class="dialog-message dialog-main-content"></p>
  </article>

  <article class="interface-footer-content">
    <button class="dialog-confirm interface-button interface-window-button">
      <p>OK</p>
    </button>
  </article>
</section>
