@import '../../css/main/root.css';

.dialog {
    max-width: 340px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.dialog-main-container {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.dialog-icon {
    font-size: 40px;
    color: var(--accent-dark);
    padding: var(--interface-content-padding);
}

.dialog-main-content {
    text-align: center;
}
