@import "../main/root.css";


#taskbar-calendar {
    height: var(--interface-button-size);
    padding: 2px;
}

#taskbar-calendar img {
    height: 100%;
}

#taskbar-clock {
    cursor: default;
}

#taskbar-calendar-container {
    width: var(--calendar-container-size);
    height: var(--calendar-container-size);
    position: fixed;
    bottom: var(--taskbar-height);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--interface-content-gap);
    padding-bottom: var(--interface-content-gap);
}

#month-year {
    width: var(--calendar-month-field-width);
    font-size: var(--font-size-small);
    color: var(--text);
    cursor: default;
}

.calendar-interface-button {
    height: var(--interface-button-size);
    width: var(--interface-button-size);
}

#container-dates {
    background-color: var(--gray-light);
    gap: 1px;
    width: var(--calendar-dates-width);
    height: var(--calendar-dates-height);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.day-field {
    background-color: var(--surface);
    width: 100%;
    height: 100%;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.week {
    background-color: var(--primary-dark);
    color: var(--text);
    cursor: default;
}

.weekend {
    background-color: var(--primary-light);
    cursor: default;
}

.weekend-day {
    background-color: rgb(var(--primary-light-rgb), 0.4);
    
}

.month-day  {
    cursor: pointer;
}

.month-day:hover {
    background-color: var(--gray-dark);
    color: var(--text-muted);
}

.not-month-day {
    color: var(--text-dark-muted);
    cursor: default;
}

.today {
    border: var(--interface-button-focus-shadow) solid var(--accent);
}
