@import "../main/root.css";

#taskbar-calendar-container {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: var(--taskbar-height);
    right: 0;
}

#month-year {
    width: var(--calendar-month-field-width);
    font-size: var(--font-size-small);
}

.calendar-interface-button {
    height: var(--interface-button-size);
    width: var(--interface-button-size);
}

#container-dates {
    height: var(--calendar-dates-height);
    width: 90%;
}
