@import "../main/root.css";

#taskbar-calendar-container {
    width: var(--calendar-container-size);
    height: var(--calendar-container-size);
    position: fixed;
    bottom: var(--taskbar-height);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: var(--interface-content-gap);
}

#month-year {
    width: var(--calendar-month-field-width);
    font-size: var(--font-size-small);
}

.calendar-interface-button {
    height: var(--interface-button-size);
    width: var(--interface-button-size);
}

#container-dates {
    background-color: var(--dark-gray);
    gap: 1px;
    width: var(--calendar-dates-width);
    height: var(--calendar-dates-height);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.day {
    background-color: var(--bg-gray);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days-week {
    color: var(--primary-black);
}

.day-month  {
    cursor: pointer;
}

.no-day-month {
    color: var(--dark-gray);
}

.day-month:hover {
    background-color: var(--dark-gray);
}

.today {
    border: var(--interface-button-focus-shadow) solid red;
}
