@import '../main/root.css';

#start-menu-container {
    width: var(--start-menu-width);
    position: fixed;
    z-index: 8500;
    bottom: var(--taskbar-height);
    left: 0;
    display: flex;
}

#start-menu-title {
    background-color: var(--interface-title-background);
    width: var(--interface-title-height);
    min-height: var(--start-menu-min-height);
    padding: var(--interface-content-padding);
    writing-mode: sideways-rl;
    text-orientation: upright;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    gap: var(--interface-content-gap);
}

#start-menu-title h3 {
    font-size: var(--font-size-large);
    color: var(--text);
}

#start-menu-title span {
    font-weight: 100;
    font-size: var(--font-size-small);
    color: var(--text);
}

#start-menu-options-main-container {
    display: flex;
    flex-direction: column;
}

#start-menu-programs-container {
    flex-grow: 1;
}

.start-menu-option {
    position: relative;
    cursor: pointer;
    width: var(--start-menu-option-width);
    display: flex;
    align-items: center;
    padding-left: var(--start-menu-option-padding);
    gap: var(--interface-content-gap);
    height: var(--start-menu-option-height);
}

.start-menu-option::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 8px;
    height: 100%;
}

.start-menu-option:hover {
    background-color: var(--primary-dark);
    color: var(--text);
}

.start-menu-option:active {
    background-color: var(--primary);
}

.start-menu-option-img {
    width: var(--start-menu-option-img-width);
}

.start-menu-option-txt {
    padding-left: var(--start-menu-option-padding);
}

.start-menu-option-arrow {
    position: absolute;
    right: var(--start-menu-option-padding);
}

.start-menu-suboptions {
    position: absolute;
    top: var(--start-menu-suboptions-y-position);
    left: var(--start-menu-suboptions-right-position);
    display: none;
    z-index: 8000;
}

.start-menu-option:hover .start-menu-suboptions {
    display: block;
}

.start-menu-shutdown-options {
    position: absolute;
    bottom: var(--start-menu-suboptions-y-position);
    left: var(--start-menu-suboptions-right-position);
    display: none;
    z-index: 8000;
}

.start-menu-option:hover .start-menu-shutdown-options {
    display: block;
}
