@import "../main/root.css";

#taskbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--taskbar-height);
    padding: var(--interface-content-padding);
    background-color: var(--surface);
}

#taskbar-container {
    width: 100%;
    display: flex;
    gap: var(--interface-content-gap);
}

#taskbaer-start-button {
    height: var(--taskbar-start-button-height);
    padding: var(--taskbar-start-button-padding);
    display: flex;
    gap: var(--interface-content-gap);
    align-items: center;
}

#taskbaer-start-button img {
    height: 100%;
}

#taskbar-apps {
    flex-grow: 1;
}

#taskbar-system {
    padding: var(--interface-content-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--interface-content-gap);
}
