<section id="taskbar-calendar-container" class="interface-window">
    <!-- Calendar tiblebar  -->
    <article id="titlebar-calendar" class="interface-title-bar">
        <p id="month-year"></p>
        <button id="calendar-button-up" class="calendar-interface-button interface-button"> ▲ </button>
        <button id="calendar-button-down" class="calendar-interface-button interface-button"> ▼ </button>
    </article>

    <!-- Days and days of the week container -->
    <article id="container-dates" class="interface-field"></article>
</section>