<section id="start-menu-container" class="interface-window" style="display: none;">
    <article id="start-menu-title">
        <h3>Aurora</h3>
        <span>&copy;</span>
    </article>

    <section id="start-menu-options-main-container">
        <!-- Listas e aplicativos criados pelo JavaScript. -->
        <section
            id="start-menu-programs-container"
            class="start-menu-options-container"
        ></section>

        <div class="interface-horizontal-divider"></div>

        <!-- Opções fixas do sistema. -->
        <section class="start-menu-options-container">
            <button
                id="start-menu-logoff-button"
                class="start-menu-option"
                type="button"
            >
                <img
                    src="assets/logoff.png"
                    alt="Sair"
                    class="start-menu-option-label-img"
                >
                <span class="start-menu-option-label-txt">Sair...</span>
            </button>

            <section id="start-menu-power-entry" class="start-menu-list-entry">
                <button
                    id="start-menu-power-button"
                    class="start-menu-option"
                    type="button"
                    aria-haspopup="menu"
                    aria-expanded="false"
                >
                    <img
                        src="assets/power.png"
                        alt="Opções de energia"
                        class="start-menu-option-label-img"
                    >
                    <span class="start-menu-option-label-txt">Desligar...</span>
                    <span class="start-menu-option-label-arrow">▶</span>
                </button>

                <section class="start-menu-shutdown-options interface-window">
                    <button
                        id="restart-button"
                        class="start-menu-option"
                        type="button"
                    >
                        <img
                            src="assets/restart.png"
                            alt="Reiniciar"
                            class="start-menu-option-label-img"
                        >
                        <span class="start-menu-option-label-txt">Reiniciar</span>
                    </button>

                    <button
                        id="shutdown-button"
                        class="start-menu-option"
                        type="button"
                    >
                        <img
                            src="assets/power.png"
                            alt="Desligar"
                            class="start-menu-option-label-img"
                        >
                        <span class="start-menu-option-label-txt">Desligar</span>
                    </button>
                </section>
            </section>
        </section>
    </section>
</section>
