<section id="start-menu-container" class="interface-window" style="display: none;">
    <!-- Start menu system title -->
    <article id="start-menu-title">
        <h3>
            Aurora
        </h3>
        <span>
            &copy;
        </span>
    </article>

    <!-- System container options -->
    <section id="start-menu-options-main-container">
        <!-- System aplications -->
        <section id="start-menu-programs-container" class="start-menu-options-container">
            <section class="start-menu-option">
                <img src="assets/apps.png" alt="Aplications" class="start-menu-option-img">
                <p class="start-menu-option-txt">
                    Aplicativos
                </p>
                <p class="start-menu-option-arrow">
                    ▶
                </p>
                <section class="start-menu-suboptions interface-window">
                    <article class="start-menu-option">
                        <img src="assets/calendar.png" alt="Doc" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Aplicativos
                        </p>
                    </article>
                    <article class="start-menu-option">
                        <img src="assets/calendar.png" alt="Doc" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Aplicativos
                        </p>
                    </article>
                </section>
            </section>
            <section class="start-menu-option">
                <img src="assets/docs.png" alt="Documents" class="start-menu-option-img">
                <p class="start-menu-option-txt">
                    Documentos
                </p>
                <p class="start-menu-option-arrow">
                    ▶
                </p>
                <section class="start-menu-suboptions interface-window">
                    <article class="start-menu-option">
                        <img src="assets/calendar.png" alt="Doc" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Aplicativos
                        </p>
                    </article>
                    <article class="start-menu-option">
                        <img src="assets/calendar.png" alt="Doc" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Aplicativos
                        </p>
                    </article>
                </section>
            </section>
        </section>

        <div class="interface-horizontal-divider"></div>

        <!-- System session options -->
        <section class="start-menu-options-container">
            <section class="start-menu-option">
                <img src="assets/logoff.png" alt="Log off" class="start-menu-option-img">
                <p class="start-menu-option-txt">
                    Sair...
                </p>
            </section>
            <section class="start-menu-option">
                <img src="assets/power.png" alt="Power button" class="start-menu-option-img">
                <p class="start-menu-option-txt">
                    Desligar...
                </p>
                <p class="start-menu-option-arrow">
                    ▶
                </p>
                <section class="start-menu-shutdown-options interface-window">
                    <article class="start-menu-option" id="restart-button">
                        <img src="assets/restart.png" alt="Restart" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Reiniciar
                        </p>
                    </article>
                    <article class="start-menu-option">
                        <img src="assets/power.png" alt="Shutdown" class="start-menu-option-img">
                        <p class="start-menu-option-txt">
                            Desligar
                        </p>
                    </article>
                </section>
            </section>
        </section>
    </section>
</section>