@import "root.css";

.interface-window {
    background-color: var(--surface);
    border-left: var(--interface-window-shadow) solid var(--gray-light);
    border-right: var(--interface-window-shadow) solid var(--gray-dark);
    border-top: var(--interface-window-shadow) solid var(--gray-light);
    border-bottom: var(--interface-window-shadow) solid var(--gray-dark);
}

.interface-title-bar {
    height: var(--interface-title-height);
    display: flex;
    align-items: center;
    gap: var(--interface-content-gap);
    padding: var(--interface-content-padding);
    background: var(--interface-title-background);
    border-bottom: var(--interface-divider-shadow) solid var(--gray-dark);
}

.interface-button {
    background-color: var(--surface);
    border-left: var(--interface-button-shadow) solid var(--gray-light);
    border-right: var(--interface-button-shadow) solid var(--gray-dark);
    border-top: var(--interface-button-shadow) solid var(--gray-light);
    border-bottom: var(--interface-button-shadow) solid var(--gray-dark);
    cursor: pointer;
}

.interface-button:active {
    background-color: var(--surface);
    border-left: var(--interface-button-focus-shadow) solid var(--gray-dark);
    border-right: var(--interface-button-focus-shadow) solid var(--gray-light);
    border-top: var(--interface-button-focus-shadow) solid var(--gray-dark);
    border-bottom: var(--interface-button-focus-shadow) solid var(--gray-light);
}

.interface-divider {
    width: 0;
    border-left: var(--interface-divider-shadow) solid var(--gray-dark);
    border-right: var(--interface-divider-shadow) solid var(--gray-light);
    border-top: var(--interface-divider-shadow) solid var(--gray-dark);
    border-bottom: var(--interface-divider-shadow) solid var(--gray-light);
}

.interface-horizontal-divider {
    width: 98%;
    height: 0;
    margin: auto;
    border-left: var(--interface-divider-shadow) solid var(--gray-dark);
    border-right: var(--interface-divider-shadow) solid var(--gray-light);
    border-top: var(--interface-divider-shadow) solid var(--gray-dark);
    border-bottom: var(--interface-divider-shadow) solid var(--gray-light);
}

.interface-field {
    border-left: var(--interface-divider-shadow) solid var(--gray-dark);
    border-right: var(--interface-divider-shadow) solid var(--gray-light);
    border-top: var(--interface-divider-shadow) solid var(--gray-dark);
    border-bottom: var(--interface-divider-shadow) solid var(--gray-light);
}
