* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size:  var(--font-size);
  cursor: default;
}


@media (max-width: 510px) {
    * {
      font-size: var(--font-size-small);
    }
}

::selection {
  background-color: var(--muted);
  color: var(--bg-black);
}
