@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --font-family: "Press Start 2P", system-ui;
    --font-color: #222222;

    --font-size: 16px;
    --font-size-small: 12px;

    --bg-black: #151515;
    --black: #313131;

    --dark-gray: #767676;
    --bg-gray: #c6c6c6;
    --off-gray: #ECECEC;

    --primary: #2C73FF;
    --secondary: #00D9FF;

    --terminal: #00e500;

    --interface-window-shadow: 4px;
    --interface-button-shadow: 3px;
    --interface-button-focus-shadow: 4px;
    --interface-divider-shadow: 2px;
    --interface-button-size: 30px;
    --interface-content-gap: 5px;
    --interface-content-padding: 5px;
    --interface-title-background: linear-gradient(to top, var(--primary), var(--secondary));

    --taskbar-button-height: 50px;
    --taskbar-button-padding: 8px;
    --taskbar-height: calc(
                        var(--taskbar-button-height) +
                        var(--interface-content-padding) * 2 +
                        var(--interface-window-shadow) * 2
                    );
}