<section class="interface-window interface-draggable application-window no-select" role="application">
    <header class="interface-title-bar drag-handle">
        <section class="interface-title-identity">
            <img class="interface-task-icon application-window-icon" alt="Ícone da aplicação">
            <p class="interface-title-text"></p>
        </section>

        <section class="interface-window-controls" aria-label="Controles da janela">
            <button type="button" class="interface-button interface-minimize-button application-window-minimize" aria-label="Minimizar" title="Minimizar">
                <span aria-hidden="true">_</span>
            </button>

            <button type="button" class="interface-button interface-maximize-button application-window-maximize" aria-label="Maximizar"
                title="Maximizar">
                <span aria-hidden="true">🗖</span>
            </button>

            <button type="button" class="interface-button interface-close-button application-window-close"
                aria-label="Fechar" title="Fechar">
                <span aria-hidden="true">X</span>
            </button>
        </section>
    </header>

    <main class="application-window-content"></main>
</section>