<section id="taskbar-container">
    <!-- Start button -->
    <button id="taskbar-start-button" class="interface-button">
        <img src="assets/aurora.png" alt="Aurora">
        <span>Iniciar</span>
    </button>

    <div class="interface-divider"></div>

    <!-- Tasks -->
    <section id="taskbar-apps">

    </section>

    <div class="interface-divider"></div>

    <!-- System info, calendar and clock -->
    <section id="taskbar-system" class="interface-field">
        <!-- Button to acess the calendar -->
        <button id="taskbar-calendar" class="interface-button">
            <img src="assets/calendar.png" alt="calendar">
        </button>

        <!-- Clock field -->
        <p id="taskbar-clock"></p>
    </section>
</section>