@import "../main/root.css";

#desktop {
    position: fixed;
    top: var(--viewport-top);
    left: var(--viewport-left);
    width: var(--viewport-width);
    height: calc(var(--viewport-height) - var(--taskbar-height));
    z-index: 0;
    isolation: isolate;
    overflow: hidden;
    background: var(--background);
}
